.tituloContenedor{
            background-color: $colorPrimario;
            border-radius: 10px;
            height: 70px;
            color: black;
            font-size: 50px;
            font-weight: 900;
            text-align: center;
        }


.encabezado{
    margin: 20px;
}