.footer{
    background-color: black;
    height: 8rem;
    color: #f1edde;
    height: 8rem;
    padding: 20px;
    footer img {
        height: 4rem;
    }
    .footerTexto{
        font-size: 15px;
        color: white;
        text-align: start;
    }  
    img {
        height: 4rem;
    }  
}