.row{
    display: flex;
    flex-wrap: wrap;
}

@for $var from 1 through 10 {
    .col-#{$var}{
        width: 10% * $var;
    }
}

@media (min-width:768px){
    @for $var from 1 through 10{
        .col-md-#{$var}{
            width: 10% * $var;
        }
    }    
}

@each $key , $variable in $justify {
    .justify-content-#{$key}{
        justify-content: $variable;
    }
}
