$justify:(
    start:start,
    center:center,
    end:end,
    around:space-around,
    evenly:space-evenly,
    between:space-between
);

$colores:(
    primario: darkgray,
    secundario: darkslategray,
);

$btn:(
    padding:10px 15px,
    bordes:0,
    radio:5px
);