* {
  margin: 0%;
  padding: 0%;
  font-family: "michroma";
}

html {
  font-size: 12px;
  
}
html a {
  color: white;
  text-decoration: none;
}

html a:hover {
  color: blueviolet;
}
html body {
  background-color: black;
}
html .btn, html .btn-secundario, html .btn-primario {
  background-color: black;
  color: white;
  border-radius: 10px;
}
html .btn:hover, html .btn-secundario:hover, html .btn-primario:hover {
  color: blueviolet;
}
html .mayus {
  text-transform: uppercase;
}
html .h1 {
  color: white;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
}

.nav {
  font-size: 20px;
  margin: 2px;
  align-items: center;
  color: white;
}
.nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  color: white;
}
.nav ul li {
  padding: 5px;
  color: white;
}
.nav ul li a {
  color: white;
  text-decoration: none;
}
.nav ul li a:hover {
  color: blueviolet;
}

.tituloContenedor {
  background-color: darkgray;
  border-radius: 10px;
  height: 70px;
  color: black;
  font-size: 50px;
  font-weight: 900;
  text-align: center;
}

.portada {
    background-image: url(../img/ajPortada.jpg);
    height: 400PX;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portada h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    text-align: center;
    justify-content: center;
    color: white;
}

.encabezado {
  margin: 20px;
}

.bajada{
  color: white;
  text-align: center;
  font-size: 15px;
  padding:30px;
}

.secundario {
  background-color: #008aa2;
  font-size: 10px;
  color: white;
}

.mapa {
  color: white;
}

.carouselSlide {
  padding: 30px;
}

.cardCuidados {
  background-color: darkgray;
  border-color: black;
  border-width: 1px;
  border-radius: 10px;
}
.cardCuidados .card-title {
  font-size: 20px;
  font-weight: 900;
}

.img-fluid {
  height: 700px;
}

.instagram-media {
  height: 700px;
}

.tarjetas {
  padding: 20px;
}

.footer {
  background-color: #008aa2;
  height: 8rem;
  color: #f1edde;
  height: 8rem;
  padding: 20px;
}
.footer footer img {
  height: 4rem;
}
.footer .footerTexto {
  font-size: 15px;
  color: white;
  text-align: start;
}
.footer img {
  height: 4rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  width: 10%;
}

.col-2 {
  width: 20%;
}

.col-3 {
  width: 30%;
}

.col-4 {
  width: 40%;
}

.col-5 {
  width: 50%;
}

.col-6 {
  width: 60%;
}

.col-7 {
  width: 70%;
}

.col-8 {
  width: 80%;
}

.col-9 {
  width: 90%;
}

.col-10 {
  width: 100%;
}

@media (min-width: 768px) {
  .col-md-1 {
    width: 10%;
  }
  .col-md-2 {
    width: 20%;
  }
  .col-md-3 {
    width: 30%;
  }
  .col-md-4 {
    width: 40%;
  }
  .col-md-5 {
    width: 50%;
  }
  .col-md-6 {
    width: 60%;
  }
  .col-md-7 {
    width: 70%;
  }
  .col-md-8 {
    width: 80%;
  }
  .col-md-9 {
    width: 90%;
  }
  .col-md-10 {
    width: 100%;
  }
}
.justify-content-start {
  justify-content: start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.justify-content-between {
  justify-content: space-between;
}

.btn-primario {
  background-color: darkgray;
}

.btn-secundario {
  background-color: darkslategray;
}

.btn, .btn-primario, .btn-secundario {
  padding: 10px 15px;
  border: 0;
  border-radius: 5px;
  width: 100px;
  height: auto;
  color: rgb(230, 16, 16);
}

.card {
  display: flex;
  height: 100px;
  margin: 5px;
  align-items: center;
  width: 500px;
  height: auto;
  color: rgb(0, 0, 0);
}/*# sourceMappingURL=style.css.map */